Repository joryirving/home-ops, pull requests merged in 2024-05, with the labels that each got.

#2263 Powertune
  kubernetes/main/apps/kube-tools/kustomization.yaml
  kubernetes/main/apps/kube-tools/powertune/app/daemonset.yaml
  kubernetes/main/apps/kube-tools/powertune/app/kustomization.yaml
  kubernetes/main/apps/kube-tools/powertune/ks.yaml
Labels: area/kubernetes, cluster/main

#2267 Revert "feat(container): update ghcr.io/joryirving/home-assistant ( 2024.4.4 → 2024.5.0 )"
  kubernetes/pi/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/pi

#2270 Revert "feat(container): update ghcr.io/joryirving/home-assistant ( 2024.4.4 → 2024.5.1 )"
  kubernetes/pi/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/pi

#2379 Update talos taskfile
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfile

#2384 fix(cpgo/cluster): increase pgBouncer default_pool_size
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

#2389 Migrate pgBouncer to session
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main
