Repository joryirving/home-ops, pull requests merged in 2024-04, with the labels that each got.

#2183 fix: Readme k8s badge color
  README.md
Labels: area/docs

#2205 Add userinit controller
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/database/crunchy-postgres/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres/userinit-controller/kustomization.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/userinit-controller.yaml
Labels: area/kubernetes, cluster/main

#2234 Update to new OpenEBS chart/values
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/openebs.yaml
  kubernetes/pi/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/pi/flux/repositories/helm/openebs.yaml
Labels: area/kubernetes, cluster/pi, cluster/main
