Repository joryirving/home-ops, pull requests merged in 2025-03, with the labels that each got.

#3816 chore: update pre-pull images workflow for new flux-local version
  .github/workflows/pre-pull-images.yaml
  .gitignore
  .mise.toml
Labels: area/github

#3838 I am a sheep. I go baaaah. @onedr0p
  .mise.toml
  Taskfile.yaml
  bootstrap/helmfile.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/base/external-secrets/README.md
  kubernetes/apps/base/external-secrets/clustersecretstore.yaml
  kubernetes/apps/base/external-secrets/external-secrets/kustomization.yaml
  kubernetes/apps/base/external-secrets/helm/kustomizeconfig.yaml
  kubernetes/apps/base/external-secrets/helm/values.yaml
  kubernetes/apps/base/external-secrets/helmrelease.yaml
  kubernetes/apps/base/external-secrets/helmrepository.yaml
  kubernetes/apps/base/external-secrets/kustomization.yaml
  kubernetes/apps/base/external-secrets/onepassword/helmrelease.yaml
  kubernetes/apps/base/kube-tools/system-upgrade-controller/versions.env
  kubernetes/apps/main/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/main/external-secrets/kustomization.yaml
  kubernetes/apps/main/external-secrets/onepassword/ks.yaml
  kubernetes/apps/main/kube-tools/kustomization.yaml
  kubernetes/apps/test/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/test/external-secrets/kustomization.yaml
  kubernetes/apps/test/external-secrets/onepassword/ks.yaml
  kubernetes/apps/test/kube-tools/kustomization.yaml
  kubernetes/apps/utility/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/utility/external-secrets/kustomization.yaml
  kubernetes/apps/utility/external-secrets/onepassword/ks.yaml
  kubernetes/apps/utility/kube-tools/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/utility, area/bootstrap

#3842 chore: remove ns on ocirepository and chartrefs
  kubernetes/apps/base/database/crunchy-postgres/operator/helmrelease.yaml
  kubernetes/apps/base/external-secrets/helmrelease.yaml
  kubernetes/apps/base/flux-system/flux-operator/helmrelease.yaml
  kubernetes/apps/base/flux-system/tofu-controller/controller/helmrelease.yaml
  kubernetes/apps/base/flux-system/tofu-controller/terraform/authentik.yaml
  kubernetes/apps/base/flux-system/tofu-controller/terraform/minio.yaml
  kubernetes/apps/base/kube-system/coredns/helmrelease.yaml
  kubernetes/apps/base/kube-tools/reloader/helmrelease.yaml
  kubernetes/apps/base/kube-tools/spegel/helmrelease.yaml
  kubernetes/apps/base/media/kyoo/helmrelease.yaml
  kubernetes/apps/base/observability/exporters/blackbox-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/exporters/smartctl-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/grafana/helmrelease.yaml
  kubernetes/apps/base/observability/kube-prometheus-stack/helmrelease.yaml
Labels: area/kubernetes

#3850 feat: migrate tf workflow to use 1pass connect
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/schemas.yaml
  .github/workflows/terraform-diff.yaml
  kubernetes/apps/base/flux-system/tofu-controller/controller/externalsecret.yaml
  terraform/authentik/applications.tf
  terraform/authentik/main.tf
  terraform/authentik/system.tf
  terraform/authentik/variables.tf
  terraform/minio/main.tf
  terraform/minio/variables.tf
Labels: area/kubernetes, area/github, area/terraform

#3829 feat: take a pass at a pgcluster
  kubernetes/components/postgres/cluster.yaml
  kubernetes/components/postgres/externalsecret.yaml
  kubernetes/components/postgres/kustomization.yaml
Labels: area/kubernetes, cluster/main

#3866 feat: create clusters per-app
  kubernetes/apps/main/downloads/bazarr/ks.yaml
  kubernetes/apps/main/downloads/dashbrr/ks.yaml
  kubernetes/apps/main/downloads/prowlarr/ks.yaml
  kubernetes/apps/main/downloads/radarr/ks.yaml
  kubernetes/apps/main/downloads/readarr/ks.yaml
  kubernetes/apps/main/downloads/sonarr/ks.yaml
  kubernetes/apps/main/media/jellyseerr/ks.yaml
  kubernetes/apps/main/media/kyoo/ks.yaml
  kubernetes/apps/main/observability/gatus/ks.yaml
  kubernetes/apps/main/observability/grafana/ks.yaml
  kubernetes/apps/main/security/authentik/ks.yaml
  kubernetes/apps/main/self-hosted/atuin/ks.yaml
  kubernetes/apps/main/self-hosted/lubelog/ks.yaml
  kubernetes/apps/main/self-hosted/paperless/ks.yaml
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes, cluster/main

#3873 feat: migrate to standalone cluster-per-app
  kubernetes/apps/base/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/base/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/base/downloads/dashbrr/externalsecret.yaml
  kubernetes/apps/base/downloads/dashbrr/helmrelease.yaml
  kubernetes/apps/base/downloads/prowlarr/externalsecret.yaml
  kubernetes/apps/base/downloads/prowlarr/helmrelease.yaml
  kubernetes/apps/base/downloads/radarr/externalsecret.yaml
  kubernetes/apps/base/downloads/radarr/helmrelease.yaml
  kubernetes/apps/base/downloads/readarr/externalsecret.yaml
  kubernetes/apps/base/downloads/readarr/helmrelease.yaml
  kubernetes/apps/base/downloads/sonarr/externalsecret.yaml
  kubernetes/apps/base/downloads/sonarr/helmrelease.yaml
  kubernetes/apps/base/media/jellyseerr/externalsecret.yaml
  kubernetes/apps/base/media/jellyseerr/helmrelease.yaml
  kubernetes/apps/base/media/kyoo/externalsecret.yaml
  kubernetes/apps/base/media/kyoo/helmrelease.yaml
  kubernetes/apps/base/security/authentik/externalsecret.yaml
  kubernetes/apps/base/security/authentik/helmrelease.yaml
  kubernetes/apps/base/self-hosted/atuin/externalsecret.yaml
  kubernetes/apps/base/self-hosted/atuin/helmrelease.yaml
  kubernetes/apps/base/self-hosted/atuin/kustomization.yaml
  kubernetes/apps/base/self-hosted/lubelog/helmrelease.yaml
  kubernetes/apps/base/self-hosted/paperless/externalsecret.yaml
  kubernetes/apps/base/self-hosted/paperless/helmrelease.yaml
  kubernetes/apps/main/observability/gatus/externalsecret.yaml
  kubernetes/apps/main/observability/gatus/ks.yaml
  kubernetes/apps/main/observability/grafana/externalsecret.yaml
  kubernetes/apps/main/observability/grafana/ks.yaml
  kubernetes/apps/main/observability/kustomization.yaml
  kubernetes/apps/main/security/authentik/ks.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
Labels: area/kubernetes, cluster/main

#3893 feat: update cilium config
  kubernetes/apps/base/kube-system/cilium/app/helm/values.yaml
  kubernetes/apps/base/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/base/network/cloudflare-tunnel/externalsecret.yaml
  kubernetes/apps/base/network/cloudflare-tunnel/helmrelease.yaml
  talos/main/patches/controller/cluster.yaml
  talos/test/patches/controller/cluster.yaml
  talos/utility/patches/controller/cluster.yaml
Labels: area/kubernetes, area/talos

#3894 feat: update minecraft to new chart, and add fullnameoverride
  kubernetes/apps/base/games/minecraft/create/helmrelease.yaml
  kubernetes/apps/base/games/minecraft/mc-router/helmrelease.yaml
  kubernetes/apps/base/games/minecraft/takocraft/helmrelease.yaml
  kubernetes/apps/base/games/minecraft/vibecraft/helmrelease.yaml
Labels: area/kubernetes

#3916 feat: add redirect for port 80
  kubernetes/apps/base/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/base/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/base/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/base/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

#3922 fix: update bgp cillium config
  .github/workflows/image-pull.yaml
  kubernetes/apps/main/kube-system/cilium/config/networks.yaml
  kubernetes/apps/utility/kube-system/cilium/config/networks.yaml
Labels: area/kubernetes, area/github, cluster/main, cluster/utility

#3924 feat: Image tags
  .github/renovate.json5
  .github/renovate/autoMergeDocker.json
  .github/renovate/autoMergeHelm.json5
  .github/renovate/groups.json5
  bootstrap/helmfile.yaml
  kubernetes/apps/base/cert-manager/cert-manager/helmrelease.yaml
  kubernetes/apps/base/downloads/prowlarr/helmrelease.yaml
  kubernetes/apps/base/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/base/downloads/radarr/helmrelease.yaml
  kubernetes/apps/base/downloads/readarr/helmrelease.yaml
  kubernetes/apps/base/downloads/sabnzbd/helmrelease.yaml
  kubernetes/apps/base/downloads/sonarr/helmrelease.yaml
  kubernetes/apps/base/flux-system/headlamp/helmrelease.yaml
  kubernetes/apps/base/flux-system/tofu-controller/controller/helmrelease.yaml
  kubernetes/apps/base/games/minecraft/create/helmrelease.yaml
  kubernetes/apps/base/games/minecraft/vibecraft/helmrelease.yaml
  kubernetes/apps/base/home-automation/home-assistant/helmrelease.yaml
  kubernetes/apps/base/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/base/kube-system/metrics-server/helmrelease.yaml
  kubernetes/apps/base/kube-tools/descheduler/helmrelease.yaml
  kubernetes/apps/base/kube-tools/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/base/kube-tools/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/apps/base/kube-tools/node-feature-discovery/helmrelease.yaml
  kubernetes/apps/base/media/plex/app/helmrelease.yaml
  kubernetes/apps/base/media/tautulli/helmrelease.yaml
  kubernetes/apps/base/network/cloudflare-dns/helmrelease.yaml
  kubernetes/apps/base/network/unifi-dns/helmrelease.yaml
  kubernetes/apps/base/observability/exporters/smartctl-exporter/helmrelease.yaml
  kubernetes/apps/base/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/base/observability/silence-operator/crds/helmrelease.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/base/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/base/self-hosted/free-game-notifier/helmrelease.yaml
  kubernetes/apps/base/self-hosted/redlib/helmrelease.yaml
  kubernetes/apps/base/self-hosted/redlib/kustomization.yaml
  kubernetes/apps/base/storage/csi-driver-nfs/helmrelease.yaml
  kubernetes/apps/base/storage/democratic-csi/helmrelease.yaml
  kubernetes/apps/base/storage/openebs/helmrelease.yaml
  kubernetes/apps/base/storage/snapshot-controller/helmrelease.yaml
  kubernetes/apps/base/storage/volsync/helmrelease.yaml
  kubernetes/apps/main/self-hosted/kustomization.yaml
  kubernetes/apps/main/self-hosted/redlib/ks.yaml
Labels: area/kubernetes, area/github, cluster/main, area/bootstrap

#3926 feat: remove the shared psql cluster
  kubernetes/apps/base/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/clustersecretstore.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/gatus.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/podmonitor.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/rbac.yaml
  kubernetes/apps/base/database/crunchy-postgres/helmrelease.yaml
  kubernetes/apps/base/database/crunchy-postgres/kustomization.yaml
  kubernetes/apps/base/database/crunchy-postgres/operator/kustomization.yaml
  kubernetes/apps/base/database/crunchy-postgres/operator/nfs-pvc.yaml
  kubernetes/apps/main/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/main

#3931 feat: add gitrepo to manage CRDs
  kubernetes/apps/base/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/base/kube-system/cilium/gateway/crds.yaml
  kubernetes/apps/base/kube-system/cilium/gateway/kustomization.yaml
Labels: area/kubernetes

#3955 feat: update renovate config
  .github/renovate.json5
  .github/renovate/autoMergeDocker.json5
  .github/renovate/clusters.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/packageRules.json5
  .renovaterc.json5
Labels: area/github

#3972 Add plasmadash blog
  kubernetes/apps/base/self-hosted/rss-forwarder/externalsecret.yaml
Labels: area/kubernetes
