Repository joryirving/home-ops, pull requests merged in 2025-01, with the labels that each got.

#3474 Update to new Kyoo 4.7.1 chart
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/media/kyoo/app-template/helmrelease.yaml
  kubernetes/main/apps/media/kyoo/app/externalsecret.yaml
  kubernetes/main/apps/media/kyoo/app/helmrelease.yaml
  kubernetes/main/apps/media/kyoo/app/kustomization.yaml
  kubernetes/main/apps/media/kyoo/app/pvc.yaml
  kubernetes/main/apps/media/kyoo/ks.yaml
  kubernetes/main/flux/repos/kustomization.yaml
  kubernetes/main/flux/repos/zoriya.yaml
Labels: area/kubernetes, cluster/main

#3476 Update Plex NO_AUTH
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/shared/settings/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

#3482 feat: bgp :rocket:
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/apps/kube-system/cilium/config/bgp.conf
  kubernetes/main/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2.yaml
  kubernetes/main/apps/kube-system/cilium/config/l3.yaml
  kubernetes/main/apps/kube-system/cilium/config/pool.yaml
  kubernetes/utility/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/utility/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/utility/apps/kube-system/cilium/config/l2.yaml
  kubernetes/utility/apps/kube-system/cilium/config/l3.yaml
  kubernetes/utility/apps/kube-system/cilium/config/pool.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3496 Cutover external-dns-unifi to API key
  kubernetes/main/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/main/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/utility/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/utility/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3503 feat: cutover to api key
  kubernetes/main/apps/observability/exporters/unpoller/app/externalsecret.yaml
  kubernetes/main/apps/observability/exporters/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

#3505 Feat/unpoller api key
  kubernetes/main/apps/observability/exporters/unpoller/app/externalsecret.yaml
  kubernetes/main/apps/observability/exporters/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

#3515 feat: update icon paths
  kubernetes/main/apps/self-hosted/homepage/app/configmap.yaml
  terraform/authentik/applications.tf
Labels: area/kubernetes, area/terraform, cluster/main

#3528 Fix missing "/"
  kubernetes/main/bootstrap/helmfile.yaml
Labels: area/kubernetes, cluster/main

#3533 fix: some typos
  kubernetes/main/apps/database/crunchy-postgres/cluster/nfs-pvc.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/main/apps/observability/karma/ks.yaml
  kubernetes/main/apps/self-hosted/atuin/ks.yaml
Labels: area/kubernetes, cluster/main

#3536 feat: bump version
  kubernetes/utility/apps/flux-system/tofu-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/utility

#3558 refactor: crunchy cluster store
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres/stores/clustersecretstore.yaml
  kubernetes/main/apps/database/crunchy-postgres/stores/kustomization.yaml
  kubernetes/main/apps/database/crunchy-postgres/stores/rbac.yaml
  kubernetes/main/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/bazarr/ks.yaml
  kubernetes/main/apps/downloads/dashbrr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/dashbrr/ks.yaml
  kubernetes/main/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/ks.yaml
  kubernetes/main/apps/downloads/readarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/readarr/ks.yaml
  kubernetes/main/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr/ks.yaml
  kubernetes/main/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/main/apps/media/kyoo/app-template/externalsecret.yaml
  kubernetes/main/apps/media/kyoo/app/externalsecret.yaml
  kubernetes/main/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/main/apps/observability/gatus/ks.yaml
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/observability/grafana/ks.yaml
  kubernetes/main/apps/security/authentik/app/externalsecret.yaml
  kubernetes/main/apps/security/authentik/ks.yaml
  kubernetes/main/apps/self-hosted/atuin/app/externalsecret.yaml
  kubernetes/main/apps/self-hosted/atuin/ks.yaml
  kubernetes/main/apps/self-hosted/lubelog/app/externalsecret.yaml
  kubernetes/main/apps/self-hosted/paperless/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

#3567 feat: reorg bootstrap dir
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  kubernetes/main/bootstrap/.sourceignore
  kubernetes/main/bootstrap/apps/.secrets.env
  kubernetes/main/bootstrap/apps/helmfile.yaml
  kubernetes/main/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/main/bootstrap/apps/templates/wipe-rook.yaml.gotmpl
  kubernetes/main/bootstrap/cluster.env
  kubernetes/main/bootstrap/kustomization.yaml
  kubernetes/main/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
  kubernetes/main/bootstrap/talos/watchdog.yaml
  kubernetes/utility/bootstrap/.sourceignore
  kubernetes/utility/bootstrap/apps/.secrets.env
  kubernetes/utility/bootstrap/apps/helmfile.yaml
  kubernetes/utility/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/utility/bootstrap/apps/templates/wipe-rook.yaml.gotmpl
  kubernetes/utility/bootstrap/cluster.env
  kubernetes/utility/bootstrap/kustomization.yaml
  kubernetes/utility/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/utility/bootstrap/talos/talconfig.yaml
  kubernetes/utility/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/utility

#3581 feat: add namespace component
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/namespace.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/cert-manager/namespace.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/database/namespace.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/namespace.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/namespace.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/external-secrets/namespace.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/games/kustomization.yaml
  kubernetes/main/apps/games/minecraft/ks.yaml
  kubernetes/main/apps/games/namespace.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/namespace.yaml
  kubernetes/main/apps/kube-tools/kustomization.yaml
  kubernetes/main/apps/kube-tools/namespace.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/namespace.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/network/namespace.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/observability/namespace.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/rook-ceph/namespace.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/namespace.yaml
  kubernetes/main/apps/self-hosted/kustomization.yaml
  kubernetes/main/apps/self-hosted/namespace.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/namespace.yaml
  kubernetes/shared/components/namespace/kustomization.yaml
  kubernetes/shared/components/namespace/namespace.yaml
  kubernetes/utility/apps/cert-manager/kustomization.yaml
  kubernetes/utility/apps/cert-manager/namespace.yaml
  kubernetes/utility/apps/default/kustomization.yaml
  kubernetes/utility/apps/default/namespace.yaml
  kubernetes/utility/apps/external-secrets/kustomization.yaml
  kubernetes/utility/apps/external-secrets/namespace.yaml
  kubernetes/utility/apps/flux-system/kustomization.yaml
  kubernetes/utility/apps/flux-system/namespace.yaml
  kubernetes/utility/apps/home-automation/kustomization.yaml
  kubernetes/utility/apps/home-automation/namespace.yaml
  kubernetes/utility/apps/kube-system/kustomization.yaml
  kubernetes/utility/apps/kube-system/namespace.yaml
  kubernetes/utility/apps/kube-tools/kustomization.yaml
  kubernetes/utility/apps/kube-tools/namespace.yaml
  kubernetes/utility/apps/network/kustomization.yaml
  kubernetes/utility/apps/network/namespace.yaml
  kubernetes/utility/apps/observability/kustomization.yaml
  kubernetes/utility/apps/observability/namespace.yaml
  kubernetes/utility/apps/self-hosted/kustomization.yaml
  kubernetes/utility/apps/self-hosted/namespace.yaml
  kubernetes/utility/apps/storage/kustomization.yaml
  kubernetes/utility/apps/storage/namespace.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3606 feat: split up volsync component files
  .github/workflows/flux-local.yaml
  kubernetes/main/apps/storage/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/shared/components/volsync/kustomization.yaml
  kubernetes/shared/components/volsync/local/externalsecret.yaml
  kubernetes/shared/components/volsync/local/kustomization.yaml
  kubernetes/shared/components/volsync/local/replicationdestination.yaml
  kubernetes/shared/components/volsync/local/replicationsource.yaml
  kubernetes/shared/components/volsync/minio.yaml
  kubernetes/shared/components/volsync/nfs.yaml
  kubernetes/shared/components/volsync/pvc.yaml
  kubernetes/shared/components/volsync/r2.yaml
  kubernetes/shared/components/volsync/remote/externalsecret.yaml
  kubernetes/shared/components/volsync/remote/kustomization.yaml
  kubernetes/shared/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes, area/github, cluster/main

#3612 feat: flux gh alerts to components (development)
  kubernetes/pi5/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/shared/components/alerts/alertmanager/alert.yaml
  kubernetes/shared/components/alerts/alertmanager/kustomization.yaml
  kubernetes/shared/components/alerts/alertmanager/provider.yaml
  kubernetes/shared/components/alerts/github/alert.yaml
  kubernetes/shared/components/alerts/github/externalsecret.yaml
  kubernetes/shared/components/alerts/github/kustomization.yaml
  kubernetes/shared/components/alerts/github/provider.yaml
  kubernetes/shared/components/alerts/kustomization.yaml
Labels: area/kubernetes

#3634 feat: setup headlamp oidc
  kubernetes/main/apps/flux-system/headlamp/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/headlamp/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/headlamp/app/kustomization.yaml
  terraform/authentik/applications.tf
  terraform/authentik/directory.tf
Labels: area/kubernetes, area/terraform, cluster/main

#3637 fix! helmfile env passing
  kubernetes/shared/bootstrap/helmfile.yaml
Labels: area/kubernetes
