Repository joryirving/home-ops, pull requests merged in 2025-02, with the labels that each got.

#3645 feat: migrate cluster-settings to component
  kubernetes/main/apps/actions-runner-system/kustomization.yaml
  kubernetes/main/apps/cert-manager/kustomization.yaml
  kubernetes/main/apps/database/kustomization.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/external-secrets/kustomization.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/games/kustomization.yaml
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-tools/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/network/kustomization.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/apps/rook-ceph/kustomization.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/self-hosted/kustomization.yaml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/flux/cluster/ks.yaml
  kubernetes/main/flux/meta/components/cluster-vars/cluster-settings.yaml
  kubernetes/main/flux/meta/components/cluster-vars/kustomization.yaml
  kubernetes/shared/meta/components/global-vars/cluster-settings.yaml
  kubernetes/shared/meta/components/global-vars/kustomization.yaml
  kubernetes/utility/apps/cert-manager/kustomization.yaml
  kubernetes/utility/apps/default/kustomization.yaml
  kubernetes/utility/apps/external-secrets/kustomization.yaml
  kubernetes/utility/apps/flux-system/kustomization.yaml
  kubernetes/utility/apps/home-automation/kustomization.yaml
  kubernetes/utility/apps/kube-system/kustomization.yaml
  kubernetes/utility/apps/kube-tools/kustomization.yaml
  kubernetes/utility/apps/network/kustomization.yaml
  kubernetes/utility/apps/observability/kustomization.yaml
  kubernetes/utility/apps/self-hosted/kustomization.yaml
  kubernetes/utility/apps/storage/kustomization.yaml
  kubernetes/utility/flux/cluster/ks.yaml
  kubernetes/utility/flux/meta/components/cluster-vars/cluster-settings.yaml
  kubernetes/utility/flux/meta/components/cluster-vars/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3665 fix(grafana): dragonfly link & kubernetes-api-server ID
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

#3681 wrong path for cilium-presync.sh
  kubernetes/shared/bootstrap/helmfile.yaml
Labels: area/kubernetes

#3730 feat: use alertmanager for gatus
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/kustomization.yaml
  kubernetes/main/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/shared/meta/components/gatus/external/config.yaml
  kubernetes/shared/meta/components/gatus/guarded/config.yaml
  kubernetes/utility/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/utility/apps/observability/gatus/app/kustomization.yaml
  kubernetes/utility/apps/observability/gatus/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3741 chore(flux): add healthcheckexprs
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres/ks.yaml
  kubernetes/main/apps/external-secrets/onepassword/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/utility/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3755 Housekeeping PR
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/nas-restart.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/terraform-diff.yaml
  .github/workflows/terraform-publish.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/podmonitor.yaml
  kubernetes/main/apps/downloads/sonarr/app/resources/codec-tagger.sh
  kubernetes/main/apps/downloads/sonarr/app/resources/tba-refresher.sh
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/main/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/flux/cluster/ks.yaml
  kubernetes/utility/apps/home-automation/home-assistant/ks.yaml
  kubernetes/utility/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/utility/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/utility/apps/kube-system/cilium/ks.yaml
  kubernetes/utility/flux/cluster/ks.yaml
  scripts/bootstrap-apps.sh
Labels: area/kubernetes, area/github, cluster/main, cluster/utility, area/scripts

#3776 feat: update code to check if image exists
  .github/workflows/pre-pull-images.yaml
Labels: area/github

#3780 Flatten ClusterSecretStores
  kubernetes/apps/base/database/crunchy-postgres/cluster/clustersecretstore.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/apps/base/database/crunchy-postgres/cluster/rbac.yaml
  kubernetes/apps/base/database/crunchy-postgres/stores/kustomization.yaml
  kubernetes/apps/base/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/base/external-secrets/onepassword/clustersecretstore.yaml
  kubernetes/apps/base/external-secrets/onepassword/helmrelease.yaml
  kubernetes/apps/base/external-secrets/onepassword/kustomization.yaml
  kubernetes/apps/main/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/main/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/main/database/crunchy-postgres/ks.yaml
  kubernetes/apps/main/database/dragonfly/ks.yaml
  kubernetes/apps/main/downloads/bazarr/ks.yaml
  kubernetes/apps/main/downloads/dashbrr/ks.yaml
  kubernetes/apps/main/downloads/prowlarr/ks.yaml
  kubernetes/apps/main/downloads/radarr/ks.yaml
  kubernetes/apps/main/downloads/readarr/ks.yaml
  kubernetes/apps/main/downloads/recyclarr/ks.yaml
  kubernetes/apps/main/downloads/sabnzbd/ks.yaml
  kubernetes/apps/main/downloads/sonarr/ks.yaml
  kubernetes/apps/main/external-secrets/onepassword/ks.yaml
  kubernetes/apps/main/games/minecraft/ks.yaml
  kubernetes/apps/main/media/ersatztv/ks.yaml
  kubernetes/apps/main/media/jellyseerr/ks.yaml
  kubernetes/apps/main/media/kyoo/ks.yaml
  kubernetes/apps/main/media/plex/ks.yaml
  kubernetes/apps/main/media/your-spotify/ks.yaml
  kubernetes/apps/main/network/external/ks.yaml
  kubernetes/apps/main/network/internal/ks.yaml
  kubernetes/apps/main/observability/exporters/unpoller/ks.yaml
  kubernetes/apps/main/observability/gatus/ks.yaml
  kubernetes/apps/main/observability/grafana/ks.yaml
  kubernetes/apps/main/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/main/rook-ceph/rook-ceph/ks.yaml
  kubernetes/apps/main/security/authentik/ks.yaml
  kubernetes/apps/main/self-hosted/atuin/ks.yaml
  kubernetes/apps/main/self-hosted/homepage/ks.yaml
  kubernetes/apps/main/self-hosted/lubelog/ks.yaml
  kubernetes/apps/main/self-hosted/paperless/ks.yaml
  kubernetes/apps/main/storage/volsync/ks.yaml
  kubernetes/apps/utility/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/utility/external-secrets/onepassword/ks.yaml
  kubernetes/apps/utility/flux-system/tofu-controller/ks.yaml
  kubernetes/apps/utility/home-automation/mosquitto/ks.yaml
  kubernetes/apps/utility/home-automation/rtlamr2mqtt/ks.yaml
  kubernetes/apps/utility/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/utility/network/external/ks.yaml
  kubernetes/apps/utility/network/internal/ks.yaml
  kubernetes/apps/utility/observability/grafana/ks.yaml
  kubernetes/apps/utility/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/utility/self-hosted/free-game-notifier/ks.yaml
  kubernetes/apps/utility/self-hosted/rss-forwarder/ks.yaml
  kubernetes/apps/utility/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

#3784 chore: merge cert-manager and cert-manager-issuers k
  kubernetes/apps/base/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/base/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/apps/base/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/base/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/main/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/test/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/utility/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/utility
